# Unreal Engine Standard Gitignore

# Binaries and Build Folders
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Project Specific
*.VC.db
*.sln
*.suo
*.opensdf
*.sdf
*.user
*.userprefs
*.vstregs
*.vstevents

# Plugins
Plugins/*/Binaries/
Plugins/*/Intermediate/

# Content and Assets (Optional: Ignore if you use external source control for large assets)
# *.uasset
# *.umap

# Local configuration files
FileOpenOrder/

# Mac specific
.DS_Store

# Crash reports and Logs
Saved/Logs/
Saved/Crashes/